/* 
    Document   : admin
    Created on : Dec 6, 2013, 10:09:22 PM
    Author     : Zishan J.
    Description:
        For use inside admin area
*/

#aboutgiml .metabox-holder #postbox-container-1 {
    width: 70%
}
#aboutgiml .metabox-holder #postbox-container-2 {
    float: right;
    width: 28%;
}
.form-row {
    margin: 10px;
}
.rowentries .form-row .col {
    height: 65px;
}
.rowentries .form-row:nth-child(odd) {
    background-color: #eee;
}