.row:before{
	clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.row{
   position: relative;
   float: left;
   padding-left: 10px;
   width: 100%;
   margin-bottom: 10px;
}
.row:after{
	clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.col{
   position: relative;
   float: left;
   padding: 0px 5px;
}
.col-right{
   position: relative;
   float: right;
   padding: 0px 5px;
}
.clear {
    clear: both;
}