/*******************************
 *			WIDGET STYLE
 ******************************/
 
div#giml-widget-accordion h6.display{ 
	margin: 0pt; padding: 0pt;
}
div#giml-widget-accordion {
	padding-bottom: 20px;
}
div#giml-widget-accordion h6.display a, div#giml-widget-accordion h6.display a:link, div#giml-widget-accordion h6.display a:visited, div#giml-widget-accordion h6 { 
	margin: 0pt; 
	width: 188px; 
	font-family: Times New Roman, Arial, Helvetica;
	font-weight: bold;
	text-align:center;
	color:#03506d;
	cursor:default;
}
div#giml-widget-accordion h6 { 
	cursor:pointer;
	text-decoration: none;
	letter-spacing: 0px;
	padding: 3px;
}
div#giml-widget-accordion h6.display a:hover { 
	background-position: 0pt 33px; 
	text-decoration:none !important;
}
div#giml-widget-accordion h6 a, div#giml-widget-accordion h6 a:link, div#giml-widget-accordion h6 a:visited, div#giml-widget-accordion h6 { 
	background-color: rgb(215,216,224);
}
div#giml-menu.ui-accordion-content { 
	font: 12px/14px Times New Roman, Arial, Helvetica; 
	color:#003366;
}
div#giml-menu.ui-accordion-content1 ul{ 
	margin: 0pt 0pt 0pt 5px; 
	padding: 0pt 0pt 0pt 15px;
	background-color: #fbfcfe; 
	width: 160px;
	font-family:Times New Roman, Arial, Helvetica;
	font-size: 12px;
	color:#003366;
	list-style-type: none;	
	
}
div#giml-menu.ui-accordion-content1 ul li{ 
	border-right: 3px solid #FFFFFF; 
	padding: 5px; 
}
div#giml-menu.ui-accordion-content1 ul li a{ 
	text-decoration: none;
}
div#giml-menu li.list-selected { 
	border-style: solid none solid solid; 
	border-color: rgb(215,216,224) -moz-use-text-color rgb(215,216,224) rgb(215,216,224); 
	border-color: rgb(215,216,224);
	border-width: 3px medium 1px 3px; 
	padding-left: 5px; 
	margin-left: -5px;
	background-color: rgb(255, 255, 255);
}
div#giml-menu li.selected {
	padding-left: 5px; 
}
div#giml-menu li.unselected {
	border-right: 3px solid #E8EBF0 !important; 
}
div#giml-menu.ui-accordion-content1 li.bottom { 
	border: 0pt none ; 
	margin: 0pt 0pt 0pt -15px; 
	padding: 0pt; 
	height: 10px; 
	border-right: 3px solid #E8EBF0;
	border-bottom: 3px solid #E8EBF0;
}